/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PlayfairDisplay, serif;'
    background-color: #f4f4f4;
}


.hero {
    height: calc(100vh - 80px);
    background: url('Your paragraph text (1).png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-overlay {
    background-color: rgba(255, 255, 255, 0.35); 
    backdrop-filter: blur(4px); 
    border: 1px solid #000000;
    padding: 40px 80px;
    text-align: center;
}

.main-title {
    font-size: 5.5rem;
    color: #3e2723; 
    -webkit-text-stroke: 0.5px #5e545496;
    letter-spacing: 8px;    
    line-height: 1;
}

.sub-title {
    font-size: 4rem;
    color: #3e2723;
    -webkit-text-stroke: 0.5px #5e545496;
    font-style: PlayfairDisplay;
    font-weight: 500;
    margin-top: 5px;
    letter-spacing: 15px;
}

.custom {
    font-size: 2rem;
    color: #3e2723;
    -webkit-text-stroke: 0.5px #5e545496;
    font-style: PlayfairDisplay;
    font-weight: 500;
    margin-top: 5px;
    letter-spacing: 5px;
}

 /* Floating "Inquire Now" Button Area */
        .inquire-widget {
            position: absolute;
            bottom: 30px;
            right: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 5;
        }

        .inquire-pointer {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 12px solid #EBE4DD;
            margin-bottom: -1px; 
            filter: drop-shadow(0 -2px 2px rgba(0,0,0,0.2));
            z-index: 2;
        }

        .inquire-btn {
            background-color: #EBE4DD;
            color: #3B281B;
            font-family: 'Playfair Display', serif;
            font-size: 1.1rem;
            font-weight: 700;
            padding: 8px 24px;
            border: none;
            border-radius: 25px;
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
            cursor: pointer;
            z-index: 3;
            transition: transform 0.2s ease, background-color 0.2s ease;
        }

        .inquire-btn:hover {
            background-color: #fff;
            transform: translateY(-3px);
        }

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .nav-links { gap: 15px; }
    .main-title { font-size: 2.5rem; }
    .sub-title { font-size: 1.8rem; }
    .logo-wrapper { width: 100px; height: 100px; top: 15px; }
}

